@model IEnumerable<ReviewApplication>

@{
    ViewData["Title"] = "Review Application";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Application List</h2>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Application</th>
                <th>Entrepreneur</th>
                <th>Mentor</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Application.CompanyName</td>

                    <td>@*Entrepreneur Name Here*@</td>

                    <td>@*Mentor Name Here*@</td>

                    <td style="width:0px; white-space:nowrap;">
                        @if (@obj.Status.StatusDesc == "Submitted") @*Highlight whatever statuses you want here*@
                        {
                            <span style="font-weight:bolder; color:mediumslateblue">NEW</span>
                        }
                        else 
                        {
                            <span>@obj.Status.StatusDesc</span>
                        }
                    </td>

                    <td style="width:0px; white-space:nowrap; text-align:center">
                        @*Actions*@
                        <a asp-controller="AdminReviewApplications" asp-action="Upsert" asp-route-id="@obj.Id" asp-route-appId="@obj.Application.Id" class="btn btn-primary mx-2">
                            @if (@obj.Status.StatusDesc == "Submitted")
                            {
                                <span>Review</span>
                            }
                            else 
                            {
                                <span>View</span>
                            }
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>