@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model wildcatMicroFund.Areas.Judge.ViewModels.PitchCriteriaVM
@{
	ViewData["Title"] = "Pitch Event Questions";
}

<form class="needs-validation" novalidate method="post" asp-controller="PitchCriteria" asp-action="PitchCriteria" enctype="multipart/form-data">
	<div class="container p-3">
		<div class="row pt-4">
			<div class="col-12">
				<h1 class="text-primary">Pitch Judging Criteria for: @Model.Application.CompanyName</h1>
			</div>
		</div>
		<br /><br />

		@foreach (var question in Model.QuestionUseList @*Model.QuestionList*@)
		{
			<div class="row container pb-3 backgroundWhite border rounded my-3">
				<h2 class="mt-2">@question.Question.QuestionSummary</h2>

				<div>
					@foreach (var detail in Model.QuestionDetailList.Where(d => d.Question.Id == question.Question.Id))
					{
						<div class="ml-4"><h4>&emsp;- @detail.QuestionDetailInfo</h4></div>
					}
				</div>
				
				<p class="mt-2">Enter score out of @question.QuestPointValue points: <input pattern="[0-9]{1,2}" required type="text" name="Quest_@question.Question.Id"/> </p>
			</div>
			<div hidden>
				<input readonly value="@question.QuestionUseID" name="qu_@question.QuestionUseID" />
			</div>
		}
		<input hidden readonly asp-for="appID" />
		
		<button type="submit" class="btn btn-primary form-control">Submit</button>
	</div>
</form>
