@model IEnumerable<wildcatMicroFund.Areas.Admin.ViewModels.UserEmailVM>
@{
    ViewData["Title"] = "Ready Emails";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Ready Emails</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ReadyEmails" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> New Email
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    To
                </th>
                <th>
                    Email
                </th>
                <th>
                    Type
                </th>
                <th>
                    Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="20%">
                        @obj.User.FullName
                    </td>
                    <td width="20%">
                        @obj.ReadyEmail.ReadyEmailEmail
                    </td>
                    <td width="20%">
                        @obj.EmailTemplate.EmailTemplateName
                    </td>
                        
                    <td>
                        @obj.ReadyEmail.CreatedDate.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        <div class="w-75">
                            <a asp-controller="ReadyEmails" asp-action="Edit" asp-route-Id="@obj.ReadyEmail.Id"
                           class="btn btn-primary mt-2 mb-2">Edit</a>
                            <a asp-controller="ReadyEmails" asp-action="Delete" asp-route-Id="@obj.ReadyEmail.Id"
                           class="btn btn-danger mt-2 mb-2">Delete</a>
                           <a asp-controller="ReadyEmails" asp-action="Send" asp-route-Id="@obj.ReadyEmail.Id"
                           class="btn btn-primary mt-2 mb-2">Send</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>